includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src

    # The level 9 is the highest level
    level: 9

    ignoreErrors:
        - '#Access to an undefined property object::\$private_key.#'
        - '#Access to an undefined property object::\$client_email.#'
        - '#Access to an undefined property object::\$access_token.#'
        - '#Access to an undefined property Glamstack\\GoogleAuth\\AuthClient::\$instance_key.#'
    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false

